body {
	color: orangered;
}

button {
	font-family: 'Roboto', sans-serif;
	padding: 6px;
	border-radius: 8px;
	color: white;
	font-size: 1.035em;
	background-image: linear-gradient(#ff9d2f, #ff6126);
	background-color: #ff9d2f;
	border: none;
}

/* header */
/* Header BG from Erik Kennedy	https://css-tricks.com/creating-non-rectangular-headers/#svg */
header {
	position: relative;
	height: 225px;
	background-image: linear-gradient(#ff9d2f, #ff6126);
}

svg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vw;
	/* set height to pixels if you want angle to change with screen width */
}

#header-div	{
	transform: rotate(-6deg);	
	position: absolute;
	margin: 40px 20px 20px 20px;
	top: 3vh;
}

#header-div span {
	font-family: 'Alfa Slab One', cursive;
	color: white;
	font-size: 5rem;
	letter-spacing: .05ch;
	padding: 20px;
	margin: 10px;
}

#header-div h3 {
	position: relative;
	color: white;
	padding: 15px;
	font-size: 1.25rem;
}

/* main container */
#main-container {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

/* left container */
#left-container {
	width: 40vw;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

ul {
	list-style: none;
}

#game-length {
	margin: 25px;
	font-size: .8em;
}

/* right container */
#right-container {
	width: 40vw;
}

#sub-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

#img-div {
	height: 45vh;
}

img {
	max-width:100%;
	max-height:100%;
}

/* game board in right container */
#board {
	font-family: 'Alfa Slab One', cursive;
	font-size: 25px;
	display: flex;
	justify-content: center;
	margin: 25px;
}

#form-response {
	margin: 25px
}

td {
	height: 35px;
	width: 35px;
	text-align: center;
}

#word {
	height: 25px;
}