{% extends 'base.html' %}

{% block content %}
<div id="board">
    <table>
        {% for row in board %}
        <tr>
            {% for char in row %}
            <td>{{char}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div> 
<div id="form-response">
    <form id="word-form">
        <label for="word"></label>
        <input type="text" name="word" id="word" placeholder="Enter Word" required>
        <button type="submit">Enter Word</button>
    </form>
    <!-- <div id="msg-area" class="hidden"></div> -->
    <div id="msg-area"></div>
    <!-- <div id="play-again-div" class="hidden"></div> -->
    <div id="play-again-div"></div>
</div>
{% endblock %} 