{% extends 'base.html' %}

{% block title %}Boggle{% endblock %}

{% block header %}
    <h2>Boggle</h2>
{% endblock %}

{% block content %}
    {% for row in board %}
        {% for char in row %}
            {{char}}
        {% endfor %}
        <br>
    {% endfor %}
    <form id="word-form">
        <label for="word"></label>
        <input type="text" name="word" id="word" placeholder="Enter Word" required>
        <button type="submit">Enter Word</button>
    </form>
    <div id="play-again-div" class="hidden">
    </div>
{% endblock %} 